.login__container{
    display: flex;
    border: 1px solid red;
    height: 80vh;
    
}
.login__form{
    
    margin: auto;
    padding: 15px;
    width: 50%;
    border: 2px solid #cbb0b0 ;
    border-radius: 8px;
}
.login__title{
    color: rgb(167, 167, 167);
    font-size: larger;
    
}
.login__label{
    margin: 5px;
    font-weight: 500;
}

.login__input{
    width: 100%;
    max-width: 320px;
    height: 35px;
    margin: 10px;
    border:1px solid rgb(181, 181, 181);
    background-color: rgb(238, 238, 238);
}

.login__btn{
    background-color: #F85555;
    border-radius: 8px;
    display: flex;
    width: 80%;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    color: white;
}
.isLogged-container{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    text-align: center;
}
.isLogged{
    border: 3px solid rgb(72, 132, 73);
    border-radius: 8px;
    padding: 5px;
    margin: auto;
    
    width: 70%;
    height: 150px;
    
    
}
.isLogged__label{
    margin: 5px;
    margin-bottom: 25px;
    padding: 8px;
    color:rgb(61, 194, 63);
    text-align: center; 
}

.isLogged__btn{
    background-color: rgb(218, 115, 90);
    border-radius: 8px;
    width: 100%;
    height: 45px;
    margin: auto ;
    color: white;
}